@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body{
	background-color: black;
	color: white;
	font-family: 'Open Sans', sans-serif;
	text-align: left;
}

h1 {
	color: white;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
}

h2 {
	color: lightgreen;
	font-family: 'Open Sans', sans-serif;
	text-align: left;
}

h2.centered {
	text-align: center;
}

p {
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-size: 	15px;
	margin: 0px 10px;
}

p.contact {
	color: white;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	font-size: 15px;
}

p.bio{
	vertical-align: middle ;
	margin: 0px 10px;
}

p.bold{
	font-weight: bold;
	
}
span.italic{
	font-style: italic;  
	font-weight: normal;
}

a {
	color: silver;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	text-align: center;
}

img{
	border-radius: 15px;
	max-width: 95%;
	vertical-align: middle;
}

ul {
	color: lightgreen;
	list-style-type: circle;
}

div.centered{
	text-align: center;
	margin: 5px 5px;
}

/* two column layout; source : https://www.w3schools.com/howto/howto_css_two_columns.asp */

.column {
	float: left;
	width: 33%;
  }
  
  /* Clear floats after the columns */
  .row:after {
	content: "";
	display: table;
	clear: both;
  }

  /* end */

/* button; source : https://www.w3schools.com/css/css3_buttons.asp */

.button {
	background-color: lightgreen;
	border: none;
	color: black;
	padding: 15px 32px;
	text-align: center;
	margin: 0 auto;
	text-decoration: none;
	display: inline-block;
	font-size: 15px;
	border-radius: 15px;
	margin: 5px 5px;
  }

/* end */
